<div class="page-header">
  @if (icon) {
    <div class="page-header__icon">
      <i [class]="icon"></i>
    </div>
  }
  <div class="page-header__text">
    <h4 class="page-header__title">{{ title }}</h4>
    @if (subtitle) {
      <p class="page-header__subtitle">{{ subtitle }}</p>
    }
  </div>
  @if (btnLabel && btnRoute) {
    <div class="page-header__actions">
      <a [routerLink]="btnRoute" class="btn btn-primary btn-sm">
        @if (btnIcon) {
          <i [class]="btnIcon + ' me-1'"></i>
        }
        {{ btnLabel }}
      </a>
    </div>
  }
</div>