.main-content {
  margin-top: var(--cc-header-height);
  margin-left: var(--cc-sidebar-width);
  padding: 1.5rem;
  height: calc(100vh - var(--cc-header-height));
  overflow-y: auto;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;

  &.sidebar-closed {
    margin-left: var(--cc-sidebar-collapsed-width);
  }

}

.page-content {
  flex: 1;
  min-height: 0;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0 !important;
  }
}