<!-- src/app/components/layout/main-layout/main-layout.component.html -->
<app-header (toggleSidebar)="toggleSidebar()" [sidebarOpen]="sidebarOpen"></app-header>
<app-sidebar [isOpen]="sidebarOpen"></app-sidebar>

<div class="main-content" [class.sidebar-closed]="!sidebarOpen">
  <ngx-spinner type="ball-clip-rotate" size="medium" color="#1a3a5c">
    <p class="text-cc-primary mt-2">Carregando...</p>
  </ngx-spinner>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>